#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
*.jrtc
*.java
*.class
*.info
*.properties
*.jar

#/1.JavaSyntax/
#/2.JavaCore/
#/3.JavaMultithreading/task30.task3008/
#/4.JavaCollections/
/5.OnlineInternship/
/out/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
